:root {
    --grey: #333;
    --grey-light: #444;
    --grey-light-light: #555;
    --white: #fff;
    --neon-on-select: #00e1ff80;
    --text-title: 32px;
    --text-body: 18px;
    --border-radius: 8px;

    --blue: #00e1ff;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--grey);
    height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    background-color: var(--grey-light);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    transition: width 0.3s ease;
}

.sidebar .icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

img.icon {
    width: 40px;
    filter: brightness(0) invert(1);
    position: relative;
}

.sidebar h2 {
    font-weight: lighter;
    color: white;
    font-size: var(--text-title);
}

.chat-area {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.response-area-container {
    height: 85%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.response-area {
    height: 90%;
    width: 90%; 
    padding: 15px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--grey-light);
    color: var(--white);
    font-size: var(--text-body);
    outline: none;
    transition: box-shadow 0.3s ease;
    resize: none;
    overflow-y: auto;
}

.response-area:focus {
    box-shadow: 0 0 10px var(--neon-on-select);
}

.response-area::-webkit-scrollbar { width: 8px; }
.response-area::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
.response-area::-webkit-scrollbar-thumb:hover { background: #555; }
.response-area::-webkit-scrollbar-track { border-radius: var(--border-radius); }

.prompt-box {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
}

.prompt-submit {
    border: none;
    width: 7.5%;
    background: transparent;
}

.prompt-submit img {
    background: transparent;
    width: 50%;
    transition: transform 0.3s ease;
}

.prompt-submit:hover img {
    transform: scale(1.2);
}

.prompt-box .inputbox {
    width: 77.5%;
    padding: 15px;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    background-color: var(--grey-light);
    color: var(--white);
    font-size: var(--text-body);
    transition: box-shadow 0.3s ease;
    resize: none;
}

.prompt-box .inputbox:focus {
    box-shadow: 0 0 10px var(--neon-on-select);
}

.inputbox::-webkit-scrollbar { width: 8px; }
.inputbox::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
.inputbox::-webkit-scrollbar-thumb:hover { background: #555; }
.inputbox::-webkit-scrollbar-track { border-radius: var(--border-radius); }

.quick-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.prompt-suggestion {
    font-weight: lighter;
    font-size: var(--text-title);
}

.response-line-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.response-line {
    height: auto;
    display: flex;
    gap: 20px;
}

.response-line img.profile-icon {
    width: 40px;
    background-color: var(--grey-light-light);
    border-radius: 50%;
    padding: 5px;
}

.response-line .response-line-text {
    background-color: var(--grey-light-light);
    border-radius: var(--border-radius);
    padding: 5px;
}